<div class="secondary-nav" data-magellan-expedition="fixed">
  <div class="cutted-wrapper">
    <div class='nav'>
      <ul clss='button-group'>
        <li>{{link-to 'Articles' 'posts.artices' classNames='button'}}</li>
        <li></li>
        <li></li>
        {{!-- li= link_to 'Дописи', articles_posts_path, class: "#{current_tab(articles_posts_url)} button" --}}
        {{!-- li= link_to 'Подорожі', travels_posts_path, class: "#{current_tab(travels_posts_url)} button" --}}
        {{!-- li.search= render 'shared/search' --}}
      </ul>
    </div>
  </div>    
</div>