<div class="background"></div>

<div class="wrapper">

  {{partial 'shared/top_header'}}
  {{partial 'shared/header'}}
  {{partial 'shared/nav'}}

  <div class='cutted-wrapper' 
    <div class="container">
      <div class='main'>
        {{outlet}}    
      </div>
    </div>
  </div>

</div>

<div class="footer.nil"></div>