@import "foundation-icons"
@import "compass/layout.scss"
// sticky footer
@include sticky-footer(120px, ".wrapper", ".main_footer", ".footer")

// general flash style
.flash
  .alert-box
    margin: 0px !important

.background
  position: fixed
  height: 100%
  width: 100%
  left: 0
  right: 0
  display: block
  // background-image: url(home-bg.jpg)
  background-repeat: no-repeat
  background-size: 100% 100%
  background-position: center top
  background-attachment: fixed
  z-index: -10
  opacity: 0.5 // just for now

.cutted-wrapper
  min-width: 940px
  max-width: 940px
  border: 2px solid red
  margin: 0 auto

.wrapper
  margin: 0
  position: relative
  width: 100% !important
  min-width: 1040px
  .top-header
    // position: fixed
    // border-top: 1px solid gray
    // background-color: #333333
    // color: white
    overflow: hidden
    padding: 5px
    border: 1px solid purple
    height: 100px 
    text-align: right
    .top-content
      vertical-align: bottom
      margin: 0 auto
      width: 940px
      height: inherit
  header
    z-index: 10
    // background: rgba(255,255,255,0.6)
    border: 1px solid gray
    width: 100%
    margin: 0 auto
  .cutted-wrapper
    .container
      margin: 0 auto
      width: 940px
      .main
        width: 620px
        margin: 0 auto
  .best-posts
    border: 2px solid black
    .best_monthly
      float: left
    .best_yearly
      float: left
    .best_ever
      float: left
  .categories
    border: 2px solid black
.footer
  margin-top: -120px
  border: 3px solid yellow
  // background: url(11.jpg)
  background: rgba(5,33,50,0.9)
  .footer-content
    color: #CCCCCC
    a
      color: #1496BB
      &:hover
        text-decoration: underline
.footer:after
  background: url(11.jpg)
  width: 100%
  height: 120px
  top: 0
  left: 0
  position: absolute
  z-index: -1
  content: ""

// TODO:
@media (min-width:320px)  
  /* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:481px)  
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:641px)  
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:961px) 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:1025px) 
  /* big landscape tablets, laptops, and desktops */ 
@media (min-width: 1281px)
  /* hi rez */ 