@import "foundation-icons"
@import "compass/layout.scss"
// sticky footer
@include sticky-footer(120px, ".wrapper", ".main_footer", ".footer")

// general flash style
.flash
  .alert-box
    margin: 0px !important

.background
  position: fixed
  height: 100%
  width: 100%
  left: 0
  right: 0
  display: block
  // background-image: url(home-bg.jpg)
  background-repeat: no-repeat
  background-size: 100% 100%
  background-position: center top
  background-attachment: fixed
  z-index: -10
  opacity: 0.5 // just for now


.wrapper
  margin: 0
  position: relative
  width: 100% !important
  min-width: 1080px
  .top-header
    // position: fixed
    // border-top: 1px solid gray
    // background-color: #333333
    // color: white
    overflow: hidden

    padding: 5px
    border: 1px solid purple
    height: 240px 
    text-align: right
    .top-content
      margin: 0 auto
      width: 1080px
  .inner-wrapper
    background: rgba(255,255,255,0.5)
    min-width: 1080px
    max-width: 1080px
    border: 2px solid red
    padding-top: 40px
    margin: 0 auto
    header
      z-index: 10
      // background: rgba(255,255,255,0.6)
      min-height: 150px
      width: 1080px
      margin: 0 auto 0
      padding-top: 20px
      position: relative
      .header-content
        margin-left: 140px
        float: left
        height: inherit
        width: 620px
        margin-right: 20px
      .header-menu
        border: 2px solid black
        width: 240px
        float: left
    .container
      margin: 0 auto
      width: 1080px
      .main
        float: left
        margin-left: 140px
        width: 620px
        margin-right: 20px
      .menu
        border: 2px solid black
        width: 240px
        float: left
    .container.admin
      .main
        width: 100%
        z-index: 1000
.footer
  margin-top: -120px
  border: 3px solid yellow
  .footer-content
    margin: 0 auto
    width: 1080px



// TODO:
@media (min-width:320px)  
  /* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:481px)  
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:641px)  
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:961px) 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:1025px) 
  /* big landscape tablets, laptops, and desktops */ 
@media (min-width: 1281px)
  /* hi rez */ 