@import "foundation-icons"
@import "compass/layout.scss"
// sticky footer
@include sticky-footer(120px, ".wrapper", ".main_footer", ".footer")

// general flash style
.flash
  .alert-box
    margin: 0px !important
    span

.wrapper
  margin: 0
  position: relative
  width: 100% !important
  max-width: 100% !important
  min-width: 1081px
  header
    min-height: 150px
    width: 1080px
    margin: 20px auto 0
    position: relative
    .header-content
      position: absolute
      bottom: 0
      left: 250px
      bottom: 0px
      height: inherit
      width: 580px
      margin: 0 auto
    .header-menu
      display: inline-block
      border: 2px solid black
      width: 240px
      float: right
  .container
    margin: 0 auto
    width: 1080px
    .main
      margin: 0 auto
      width: 580px
    .menu
      border: 2px solid black
      width: 240px
      float: right



// TODO:
@media (min-width:320px)  
  /* smartphones, iPhone, portrait 480x320 phones */ 
@media (min-width:481px)  
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
@media (min-width:641px)  
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
@media (min-width:961px) 
  /* tablet, landscape iPad, lo-res laptops ands desktops */ 
@media (min-width:1025px) 
  /* big landscape tablets, laptops, and desktops */ 
@media (min-width: 1281px)
  /* hi rez */ 