.nav
  z-index: 1000
  // don't add styles for nav here
  // probably do it in base.sass
  ul
    float: left
    list-style-type: none
    padding: 0px
    margin: 0px
    li
      a
        font-family: 'festus'
        padding: 10px 20px 0 20px
        height: 50px
        font-size: 24px
        margin-bottom: 0px
        &.current_tab
          background-color: #884444
    li.search
      margin-left: 1px