// $prev-next-height: 50px
// $prev-next-width:  45px
// @mixin border-radius($r1, $r2, $r3, $r4)
//   -webkit-border-radius: $r1 $r2 $r3 $r4
//   -moz-border-radius: $r1 $r2 $r3 $r4
//   -ms-border-radius: $r1 $r2 $r3 $r4
//   border-radius: $r1 $r2 $r3 $r4

// @mixin base_siblings_div
//   height: $prev-next-height
//   width: $prev-next-width
//   top: 50%
//   position: fixed
//   font-size: 105px
//   overflow: hidden
//   margin-top: -25px

// @mixin base_siblings_link
//   display: block
//   height: $prev-next-height
//   width: $prev-next-width
//   color: white
//   font-family: 'hipster Script Pro'

// @mixin opacity($val)
//   opacity: $val

@mixin transition($val)
  -webkit-transition: all $val ease-out
  -moz-transition: all $val ease-out
  -ms-transition: all $val ease-out
  -o-transition: all $val ease-out
  transition: all $val ease-out

@mixin blur($val)
  -webkit-filter: blur($val)
  -moz-filter: blur($val)
  -o-filter: blur($val)
  -ms-filter: blur($val)
  filter: blur($val)

@mixin scale($scale)
  -webkit-transform: scale($scale)
  -ms-transform: scale($scale)
  transform: scale($scale)


// describe show page
.post-show
  position: relative
  display: inline-block
  width: 100%
  div[class^="post_"]
    position: relative
    height: auto
    width:  100%
    margin: 13px 0px
    .title
      a
        color: #3E3E29
        font-size: 29px
        letter-spacing: 0px
        font-weight: bold
        margin-bottom: 4px
        &:hover
          color: #808067
    .created
      font-size: 11px
      color: grey
      text-align: right
      width: 100%
    .content
      font-family: 'Homestead Display' 
      font-size: 15px
    .info
      position: relative
      min-height: auto
      .hubs
        display: block
      .tags
        display: block
      .actions
        text-align: right
        .button
          margin: 0px



//  describe index page
.posts
  position: relative
  display: inline-block
  width: 100%
  div[class^="post_"]
    position: relative
    box-shadow: 1px 2px 5px 0px #555444
    position: relative
    height: 400px
    width:  440px
    margin: 13px 0px
    overflow: hidden
    @include transition(0.4s)
    &:hover
      @include scale(1.1)
      @include transition(0.4s)
      z-index: 100
      box-shadow: 5px 5px 8px 4px #555444
      .logo
        img
          margin-top: -38px
      .logo:after
        content: ' '
        position: absolute
        left: 0
        right: 0
        top: 0
        bottom: 40px
        background-color: rgba(73,89,87,0.8)
      .title
        color: white
        position: absolute
        text-align: center
        width: 100%
        top: 140px
        height: 50px
        a
          color: white
          &:hover
            color: white
            text-decoration: underline
      .description
        color: white
        visibility: visible
        position: absolute
        text-align: center
        top: 20px
        width: 100%
        text-align: center
      .created
        bottom: 120px
        border-top: 1px solid silver
        a
          color: #3E3E29
      .info
        .hubs
          bottom: 80px
        .tags
          bottom: 40px
          width: 100%
        .actions
          height: 40px
          padding-top: 5px
          @include transition(0.4s)
          background-color: #884444 //#07565D
    .logo
      img
        @include transition(0.4s)
        margin-top: 0px
    .title
      position: absolute
      top: 250px
      text-align: center
      width: 100%
      @include transition(0.4s)
      a
        color: #3E3E29
        font-size: 29px
        letter-spacing: 0px
        font-weight: bold
        font-family: 'hipster Script Pro', 'festus'
        letter-spacing: 2px
        margin-bottom: 4px
        &:hover
          color: #808067
      
    .description
      @include transition(0.4s)
      visibility: hidden
      position: absolute
      width: 100%
      text-align: center
      top: -100px
      font-family: 'festus'
      font-size: 28px
    .created
      text-align: right
      width: 100%
      bottom: 40px
      height: 40px
      position: absolute
      padding: 12px 5px 0px 5px
      color: #3E3E29
      @include transition(0.4s)
      .left, .right
        a
          color: #3E3E29
        .text, a
          margin-right: 5px
          &:hover
            color: white
    .info
      width: 100%
      bottom: 0
      position: absolute
      height: 150px
      .hubs
        @include transition(0.4s)
        width: 100%
        bottom: 0px
        height: 40px
        position: absolute
        padding-top: 7px
        border-bottom: 1px solid silver
        border-top: 1px solid silver
        .hub
          overflow: hidden
          padding: 0px 4px 3px 4px
          margin: 0 2px 40px 2px
          display: inline-block
          @include transition(0.5s)
          border-radius: 3px
          &:hover
            // background-color: #884444 //#07565D
            a
              color: white
          a
            position: relative
            color: #3E3E29
            i
              font-size: 22px
      .tags
        @include transition(0.4s)
        width: 100%
        bottom: 0px
        height: 40px
        position: absolute
        padding-top: 7px
        .tag
          overflow: hidden
          padding: 0px 4px 3px 4px
          margin: 0 2px 40px 2px
          display: inline-block
          @include transition(0.5s)
          border-radius: 3px
          &:hover
            // background-color: #884444 //#07565D
            a
              color: white
          a
            position: relative
            color: #3E3E29
            i
              font-size: 22px
      .actions
        width: 100%
        height: 40px
        padding-top: 5px
        background-color: #884444
        bottom: 0
        position: absolute
        text-align: center
        &:hover
          transition: 0.4s
          background-color: #884444
        a
          font-family: 'hipster Script Pro'
          color: silver
          font-size: 46px
          &:hover
            color: white
  .pagination
    .left, .right
      font-size: 20px
      color: #3E3E29
      a
        @include transition(0.4s)
      &:hover
        a
          @include transition(0.4s)
          background-color: #07565D !important
          color: white


// great refactoring yeah, but don't need it ((
// .post_siblings
//   .prev
//     @include opacity(0.2)
//     @include base_siblings_div
//     @include transition(0.3s)
//     @include border-radius(0px, 5px, 5px, 0px) 
//     background-color: #0A072D
//     left: 0
//     &:hover
//       @include transition(0.3s)
//       @include opacity(0.9)
//       a
//         @include transition(0.3s)
//         color: white
//     a
//       @include base_siblings_link
//       margin-left: -25px
//       margin-top: -20px
//       color: silver
//   .next
//     @include border-radius(5px, 0px, 0px, 5px) 
//     @include opacity(0.2)
//     @include base_siblings_div
//     background-color: #0A072D
//     @include transition(0.3s)
//     padding: 7px 1px
//     right: 0
//     &:hover
//       @include transition(0.3s)
//       @include opacity(0.9)
//       a
//         @include transition(0.3s)
//         color: white
//     a
//       @include base_siblings_link
//       margin-left: -20px
//       margin-top: 0px
//       color: silver


