#posts_search
  display: inline-block
  position: relative
  height: 20px
  input
    padding: 0px 10px
    height: 34px
    box-shadow: 0px !important
    border: 1px solid #777
    float: left
    width: 150px
    transition: 0.4s
    background-color: white
    color: #008CBA
    font-weight: bold
    font-size: 15px
    // border-radius: 18px
    &::-moz-placeholder
      color: gray
      font-weight: normal
    &:focus
      // background-color: gray
      outline: none
      box-shadow: none
  // span.search_button
  //   float: left
  //   img
  //     height: 34px
  //     width: 34px


.ui-autocomplete
  // border-radius: 18px !important
  background: none !important
  border: none !important
  li
    a
      border-radius: 0px !important
      background-color: #444444 !important
      color: white !important
    a:hover, a.ui-state-focus
      border: none !important
      border-radius: 0px !important
      background: none !important
      background-color: #884444 !important
      color: white !important
